services:
  # A static site
  - type: web
    name: 5L Labs.com
    env: static
    buildCommand: npx docusaurus build
    staticPublishPath: ./build
    pullRequestPreviewsEnabled: true # optional
    branch: main
    headers:
      - path: /*
        name: X-Frame-Options
        value: SAMEORIGIN
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
      - path: /*
        name: Referrer-Policy
        value: strict-origin-when-cross-origin
      - path: /*
        name: Permissions-Policy
        value: "camera=(), microphone=(), geolocation=(), payment=()"
      - path: /*
        name: Strict-Transport-Security
        value: max-age=31536000; includeSubDomains
      - path: /*
        name: X-Permitted-Cross-Domain-Policies
        value: none
envVarGroups:
  - name: node_version
    envVars:
      - key: NODE_VERSION
        value: 20.11.1
