services:
  # A static site
  - type: web
    name: 5L Labs.com
    env: static
    buildCommand: bun run build
    staticPublishPath: ./build
    pullRequestPreviewsEnabled: true # optional
    branch: main
    envVars:
      - key: NODE_VERSION
        value: 22.12.0
