.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.readMoreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
