/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7B2BFC; /* Cyber Purple */
  --ifm-color-primary-dark: #6A24D9;
  --ifm-color-primary-darker: #6121C5;
  --ifm-color-primary-darkest: #4F1A9E;
  --ifm-color-primary-light: #8C32FF;
  --ifm-color-primary-lighter: #9642FF;
  --ifm-color-primary-lightest: #AE6BFF;
  --ifm-background-color: #FFFFFF; /* Clean White */
  --ifm-font-color-base: #333333; /* Dark Gray */
  --ifm-color-secondary: #00C49A; /* Bright Teal */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7B2BFC; /* Cyber Purple */
  --ifm-color-primary-dark: #6A24D9;
  --ifm-color-primary-darker: #6121C5;
  --ifm-color-primary-darkest: #4F1A9E;
  --ifm-color-primary-light: #8C32FF;
  --ifm-color-primary-lighter: #9642FF;
  --ifm-color-primary-lightest: #AE6BFF;
  --ifm-background-color: #1A1A1A; /* Dark Charcoal */
  --ifm-font-color-base: #E0E0E0; /* Light Gray */
  --ifm-color-secondary: #00C49A; /* Bright Teal */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
